@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";
html, body {
  margin: 0;
  padding: 0;
  position: relative; }

.site.home .title {
  position: fixed;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Open Sans", serif;
  font-weight: 300;
  font-size: 36px;
  text-align: center; }
  .site.home .title a {
    font-size: 18px;
    text-decoration: none;
    color: #444; }

/*# sourceMappingURL=app.css.map */
