.editor{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1199;
  color: #fff;

  .startPage{
    font-family: "Raleway", serif;
    font-size: 3rem;
    font-weight: 300;

    .text{
      text-align: center;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      @include translateY(-50%);
    }

    @media(max-width: $breakXS){
      .text{
        font-size: 1.5rem;
        @include translateY(-100%);
      }
    }
  }

  .informationPage{
    padding: 0;

    .text{
      font-size: 1.7rem;
      text-align: center;
      margin: 2rem 0;
    }

    .info{
      background: #4CAF50;
      box-shadow: 0 0.1rem 0.1rem rgba(50, 50, 50, 0.75);

      label{
        margin: 0;
        height: 20px;
        line-height: 20px;
      }
      input[type="checkbox"]{
        display: none;
      }
      .checkbox-control{
        display: inline-block;
        margin: 0 1rem 0 0;
        float: left;
      }
      .checkbox-control[data-checked="true"]{
        background: #555;
      }
    }

    .info2{
      background: #444444;
      box-shadow: 0 0.1rem 0.1rem rgba(50, 50, 50, 0.75);
    }

    .contentRow{
      margin-top: 15rem;
    }

    @media(max-width: $breakLG){
      .contentRow{
        margin-top: 5rem;

        .info2{
          margin-top: 2rem;
        }
      }
    }
  }

  .creatorPage{
    .container{
      height: 100%;
    }
    #templateWindow{
      width: 100%;
      height: 100%;
      background: #fff;
      box-shadow: 0 .1rem .1rem rgba(50,50,50,0.75);
      border-top: .3rem solid #555;
      position: relative;
      overflow: hidden;

      *[data-pattern="text"]::before{
        content: "\f040";
        font-size: 1.2rem;
        color: #222;
        background: #fff;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        display: inline-block;
        text-align: center;
        line-height: 20px;
        margin: 0 .5rem 0 0;
        position: absolute;
        top: 0;
        right: 2.5rem;
        -webkit-animation: pulse 5s ease infinite;
        -moz-animation: pulse 5s ease infinite;
        animation: pulse 3s ease infinite;
        cursor: pointer;
      }
      *[data-pattern="text"], *[data-pattern="image"]{
        cursor: pointer;
        position: relative;
      }
    }
  }
}

#editorPanel{
  border: none !important;
  background: #4d4d4d;
  clear: both;
  height: 300px;
  overflow-y: hidden;

  .buttonOk{
    background: #00C853;
    box-shadow: 0 0.1rem 0.1rem rgba(50, 50, 50, 0.75);
    color: #fff;
    font-size: 1.5rem;
    padding: .7rem 2rem;
    cursor: pointer;
    transition: .3s ease;
    display: block;
    margin-top: 1.5rem;
    float: left;
    font-family: "Source Sans Pro", serif;

    &:hover{
      background: $mainColor;
      color: #fff;
    }
    &:active{
      background: $darkerMainColor;
      color: #fff;
    }
  }

  .hideBtn{
    color: #fff;
    border-color: #fff;

    &:hover{
      background: $mainColor !important;
      border-color: $mainColor !important;
    }
  }
}

.imageChoser{
  background: #4d4d4d;
  border-right: none!important;

  .hideBtn{
    color: #4d4d4d;
    background: #fff;
    border: .1rem solid #fff;
    width: 24px;
    height: 24px;

    &:hover{
      color: #fff;
      background: #F44336;
      border: .1rem solid #F44336;
    }
  }

  .title{
    color: #fff;
  }

  .header{
    padding-right:0;

    .navigationBlock{
      width: 50%;
    }
    .breadcrumsBlock{
      display: none;
    }
    .buttonsBlock{
      width: 50%;
    }
  }

  .content{
    color: #fff;
    background: #4d4d4d;
  }
}