.panelNotify{
  background: #ffffff;
  box-shadow: 0 .1rem .1rem rgba(50, 50, 50, 0.5);
  min-height: 0;
  font-family: "Open Sans", "Arial", serif;
  overflow:hidden;
  color: #000;
  font-size: 16px;
  border-top: .2rem solid $color10 !important;

  .message{
    padding: 10px;
    font-size: 14px;
  }

  .hideBtn{
    color: $color10;
    border-color: $color10;

    &:hover{
      background: $color10;
      color: #fff;
    }
  }

  &.error{
    background: #fff;
    color: #000;
    border-top: 2px solid $color1 !important;

    .hideBtn{
      color: $color1;
      border-color: $color1;

      &:hover{
        background: $color1;
        color: #fff;
      }
    }
  }

  &.success{
    background: #fff;
    color: #000;
    border-top: 2px solid $color10 !important;

    .hideBtn{
      color: $color10;
      border-color: $color10;

      &:hover{
        background: $color10;
        color: #fff;
      }
    }
  }

  &.warning{
    background: #fff;
    color: #000;
    border-top: 2px solid $color15!important;

    .hideBtn{
      color: $color15;
      border-color: $color15;

      &:hover{
        background: $color15;
        color: #fff;
      }
    }
  }
}