@charset "UTF-8";
/*
    name: Fluid Elements,
    author: Paweł Mrowiec - pawel.mrowiec.work@gmail.com,
    version: 1.0
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300&subset=latin,latin-ext);
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.wrapper {
  height: 100%;
  width: 100%; }

.clear_float, .clearFloat {
  clear: both; }

@keyframes changeBackgroundHeaderColor {
  00% {
    background-color: #673AB7;
    border-color: #512DA8; }
  20% {
    background-color: #3F51B5;
    border-color: #303F9F; }
  40% {
    background-color: #2196F3;
    border-color: #1976D2; }
  60% {
    background-color: #4CAF50;
    border-color: #388E3C; }
  80% {
    background-color: #FF5722;
    border-color: #E64A19; }
  100% {
    background-color: #F44336;
    border-color: #D32F2F; } }
@keyframes shrink {
  0% {
    box-shadow: -1px 10px 42px -15px rgba(0, 0, 0, 0.75); }
  10% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  40% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: translateX(-100%) scale(0.5);
    -moz-transform: translateX(-100%) scale(0.5);
    -ms-transform: translateX(-100%) scale(0.5);
    -o-transform: translateX(-100%) scale(0.5);
    transform: translateX(-100%) scale(0.5); } }
@keyframes grow {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  10% {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes smoothLoad {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes smoothClose {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes pulse {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes changeShadows {
  0% {
    box-shadow: 0 0 0 rgba(50, 50, 50, 0.5); }
  50% {
    box-shadow: 0 0 1.5rem rgba(50, 50, 50, 0.5); }
  100% {
    box-shadow: 0 0 0 rgba(50, 50, 50, 0.5); } }
@keyframes listOpen {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px); } }
@keyframes listOpenSimple {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes modalOpen {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, calc(-50% + 5px));
    -moz-transform: translate(-50%, calc(-50% + 5px));
    -ms-transform: translate(-50%, calc(-50% + 5px));
    -o-transform: translate(-50%, calc(-50% + 5px));
    transform: translate(-50%, calc(-50% + 5px)); } }
@keyframes modalClose {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, calc(-50% + 5px));
    -moz-transform: translate(-50%, calc(-50% + 5px));
    -ms-transform: translate(-50%, calc(-50% + 5px));
    -o-transform: translate(-50%, calc(-50% + 5px));
    transform: translate(-50%, calc(-50% + 5px)); }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }
@keyframes showSection {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.shrink {
  -webkit-animation: shrink 1.5s ease 0s;
  animation: shrink 1.5s ease 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.grow {
  -webkit-animation: grow 1s ease 0s;
  animation: grow 1s ease 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.smoothLoad {
  -webkit-animation: smoothLoad 1s ease 0s;
  animation: smoothLoad 1s ease 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.showSection {
  -webkit-animation: showSection 1s ease 0s;
  -moz-animation: showSection 1s ease 0s;
  animation: showSection 1s ease 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.listOpen {
  display: block !important;
  -webkit-animation: listOpen .3s;
  -moz-animation: listOpen .3s;
  animation: listOpen .3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.listOpenSimple {
  display: block !important;
  -webkit-animation: listOpenSimple .3s;
  -moz-animation: listOpenSimple .3s;
  animation: listOpenSimple .3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.modalOpen {
  -webkit-animation: modalOpen .3s;
  -moz-animation: modalOpen .3s;
  animation: modalOpen .3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.modalClose {
  -webkit-animation: modalClose .3s;
  -moz-animation: modalClose .3s;
  animation: modalClose .3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.dim {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.loadScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222;
  color: #fff;
  z-index: 1999;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .loadScreen .loadIcon {
    font-size: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .loadScreen.loadScreenOpen {
    -webkit-animation: smoothLoad .1s ease;
    -moz-animation: smoothLoad .1s ease;
    animation: smoothLoad .1s ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  .loadScreen.loadScreenClose {
    -webkit-animation: smoothClose .6s ease .1s;
    -moz-animation: smoothClose .6s ease .1s;
    animation: smoothClose .6s ease .1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

form {
  position: relative; }
  form .form-group {
    position: relative;
    margin-bottom: 1rem; }
    form .form-group label, form .form-group .text {
      font-weight: 400;
      height: 30px;
      line-height: 30px; }
    form .form-group input, form .form-group textarea {
      height: 30px;
      border-radius: 0;
      box-shadow: none; }
      form .form-group input:focus, form .form-group textarea:focus {
        box-shadow: 0 0 0.2rem rgba(223, 223, 223, 0.5);
        border-color: #ccc; }
    form .form-group input[type="checkbox"], form .form-group input[type="radio"] {
      height: auto; }
    form .form-group .checkbox-control {
      width: 20px;
      height: 20px;
      border: .1rem solid #ccc;
      background: #fff;
      cursor: pointer;
      margin-top: 10px;
      display: block;
      transition: .2s linear; }
    form .form-group .checkbox-control[data-checked="true"] {
      background: #E0E0E0; }
    form .form-group .radio-control {
      width: 20px;
      height: 20px;
      border: .1rem solid #ccc;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
      margin-top: 10px;
      transition: .2s linear;
      display: block; }
    form .form-group .radio-control[data-checked="true"] {
      background: #E0E0E0; }
    form .form-group .file-control {
      position: relative;
      overflow: hidden;
      width: 30px; }
      form .form-group .file-control i {
        color: #ccc;
        font-size: 3.5rem;
        cursor: pointer; }
      form .form-group .file-control input[type="file"] {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        font-size: .1rem;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0); }
    form .form-group textarea {
      height: 60px;
      resize: none; }
    form .form-group .error {
      border-color: #B71C1C; }
    form .form-group .submit {
      border-radius: 0;
      color: #fff;
      background: #46b74b;
      margin: 0 1.5rem; }
  form .select-group {
    position: relative; }
    form .select-group .select {
      cursor: pointer; }
    form .select-group .list {
      border-top: none; }
      form .select-group .list li {
        color: #000;
        width: 100%;
        display: block;
        padding: .5rem 1.5rem;
        transition: .2s ease;
        cursor: pointer;
        font-size: 1.4rem;
        font-family: "Source Sans Pro", serif; }
        form .select-group .list li:hover {
          background: #f4f4f4; }
        form .select-group .list li:focus {
          outline: none !important; }
  form .errorBlock {
    padding: .5rem 0;
    margin: 0 1.5rem;
    color: #fff;
    background: #B71C1C;
    text-align: center; }
  form .filesPreview .previewBlock {
    width: 50px;
    height: 50px;
    border: .1rem solid #ccc;
    float: left;
    margin: 1rem .5rem 1rem 0;
    position: relative; }
    form .filesPreview .previewBlock .progressBar {
      width: 0%;
      height: 1px;
      position: absolute;
      bottom: -3px;
      background: #4CAF50;
      border: .1rem solid #4CAF50;
      border-right: .2rem;
      border-left: .2rem; }

.list {
  position: absolute;
  right: 1rem;
  padding: 0;
  margin-top: .5rem;
  overflow: hidden;
  z-index: 1203;
  display: none;
  background: #fff;
  border-top: .2rem solid #605ca8;
  border-radius: 0;
  box-shadow: -1px 10px 25px -12px rgba(0, 0, 0, 0.75);
  min-width: 150px;
  max-width: 200px;
  max-height: 500px;
  overflow-y: auto;
  font-family: "Open Sans", "Arial", serif; }
  .list li {
    list-style: none;
    background: #fff;
    cursor: default;
    color: #000;
    font-size: 14px;
    display: block; }
    .list li > a, .list li > span {
      text-decoration: none;
      color: #000;
      display: block;
      padding: .4rem 1.5rem;
      transition: .2s ease;
      cursor: pointer; }
      .list li > a:hover, .list li > span:hover {
        background: #605ca8;
        color: #fff; }
      .list li > a:active, .list li > span:active {
        background: #605ca8;
        color: #fff; }
      .list li > a:focus, .list li > span:focus {
        outline: none !important; }
    .list li.special {
      background: #f3f3f3;
      padding: 1rem 1.5rem; }
  .list.disableHover li a:hover {
    background: inherit !important;
    color: inherit !important; }
  .list.disableHover li a:active {
    background: inherit;
    color: inherit; }
  .list::selection, .list *::selection {
    background: transparent;
    color: inherit; }
  .list::-webkit-scrollbar {
    width: 4px; }
  .list::-webkit-scrollbar-track {
    background-color: #fff; }
  .list::-webkit-scrollbar-thumb {
    background: #d2d6de; }

.listClose {
  display: none; }

.panel {
  background: #fff;
  border: none;
  border-radius: 0;
  margin: 0;
  box-shadow: 0 0.1rem 0.1rem rgba(50, 50, 50, 0.5);
  position: fixed;
  transition: transform .5s ease;
  min-height: 150px;
  min-width: 250px;
  z-index: 1202;
  overflow-x: hidden;
  font-family: "Open Sans", serif;
  padding: 0; }
  .panel .title {
    width: 100%;
    display: block;
    font-size: 16px;
    color: #313131;
    text-align: center;
    padding: 1rem 0 2rem 0;
    cursor: default; }
  .panel .hideBtn {
    color: #2196F3;
    font-size: 18px;
    border-radius: 50%;
    border: 0.1rem solid #2196F3;
    height: 20px;
    width: 20px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    transition: .2s ease; }
    .panel .hideBtn:hover {
      background: #2196F3;
      color: #fff; }
  .panel .bar {
    background: #ebebeb;
    color: #555;
    padding: .5rem 1.5rem; }
  .panel.panelTop {
    border-bottom: 0.2rem solid #2196F3; }
    .panel.panelTop .hideBtn::before {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -55%);
      -moz-transform: translate(-50%, -55%);
      -ms-transform: translate(-50%, -55%);
      -o-transform: translate(-50%, -55%);
      transform: translate(-50%, -55%); }
  .panel.panelBottom {
    border-top: 0.2rem solid #2196F3; }
    .panel.panelBottom .hideBtn::before {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -45%);
      -moz-transform: translate(-50%, -45%);
      -ms-transform: translate(-50%, -45%);
      -o-transform: translate(-50%, -45%);
      transform: translate(-50%, -45%); }
  .panel.panelLeft {
    border-right: 0.2rem solid #2196F3; }
    .panel.panelLeft .hideBtn::before {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-60%, -50%);
      -moz-transform: translate(-60%, -50%);
      -ms-transform: translate(-60%, -50%);
      -o-transform: translate(-60%, -50%);
      transform: translate(-60%, -50%); }
  .panel.panelRight {
    border-left: 0.2rem solid #2196F3; }
    .panel.panelRight .hideBtn::before {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-40%, -50%);
      -moz-transform: translate(-40%, -50%);
      -ms-transform: translate(-40%, -50%);
      -o-transform: translate(-40%, -50%);
      transform: translate(-40%, -50%); }

#panelAccount .name, #panelAccount .email {
  padding: .1rem 1.5rem;
  font-size: 1.2rem;
  color: #555;
  display: block; }
  #panelAccount .name .index, #panelAccount .email .index {
    color: #4cb050; }

.panelNotify {
  background: #ffffff;
  box-shadow: 0 0.1rem 0.1rem rgba(50, 50, 50, 0.5);
  min-height: 0;
  font-family: "Open Sans", "Arial", serif;
  overflow: hidden;
  color: #000;
  font-size: 16px;
  border-top: 0.2rem solid #4CAF50 !important; }
  .panelNotify .message {
    padding: 10px;
    font-size: 14px; }
  .panelNotify .hideBtn {
    color: #4CAF50;
    border-color: #4CAF50; }
    .panelNotify .hideBtn:hover {
      background: #4CAF50;
      color: #fff; }
  .panelNotify.error {
    background: #fff;
    color: #000;
    border-top: 2px solid #F44336 !important; }
    .panelNotify.error .hideBtn {
      color: #F44336;
      border-color: #F44336; }
      .panelNotify.error .hideBtn:hover {
        background: #F44336;
        color: #fff; }
  .panelNotify.success {
    background: #fff;
    color: #000;
    border-top: 2px solid #4CAF50 !important; }
    .panelNotify.success .hideBtn {
      color: #4CAF50;
      border-color: #4CAF50; }
      .panelNotify.success .hideBtn:hover {
        background: #4CAF50;
        color: #fff; }
  .panelNotify.warning {
    background: #fff;
    color: #000;
    border-top: 2px solid #FF9800 !important; }
    .panelNotify.warning .hideBtn {
      color: #FF9800;
      border-color: #FF9800; }
      .panelNotify.warning .hideBtn:hover {
        background: #FF9800;
        color: #fff; }

.tableWrap {
  min-height: 90%;
  background-color: #fff;
  border: .2rem solid #555;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 1rem;
  padding-bottom: 4rem;
  position: relative; }
  .tableWrap .tableStandard {
    margin: 0 !important; }
    .tableWrap .tableStandard thead th {
      border: none !important;
      font-weight: 400 !important;
      padding: .6rem .8rem !important;
      font-size: 1.5rem; }
    .tableWrap .tableStandard tbody .tableRow:first-of-type td {
      border-top: .1rem solid #ccc !important; }
    .tableWrap .tableStandard tbody .tableRow td {
      border: none !important;
      padding: 1rem .8rem !important;
      font-size: 1.4rem; }
      .tableWrap .tableStandard tbody .tableRow td .link {
        color: #555; }
  .tableWrap .tableFoot {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0; }
    .tableWrap .tableFoot .actions {
      float: left;
      padding: .5rem 1rem; }
      .tableWrap .tableFoot .actions .action {
        transition: .3s ease;
        display: block;
        cursor: pointer;
        position: relative;
        background-color: #00a65a;
        border: none;
        color: #fff;
        outline: none;
        box-shadow: none;
        padding: .5rem 1.5rem;
        text-decoration: none;
        display: inline-block !important;
        margin: 0 .5rem !important; }
        .tableWrap .tableFoot .actions .action .icon {
          font-size: 1.8rem;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-decoration: none;
          color: #fff; }
          .tableWrap .tableFoot .actions .action .icon::-moz-focus-inner {
            border: 0; }
        .tableWrap .tableFoot .actions .action.active {
          background: #555;
          color: #fff; }
        .tableWrap .tableFoot .actions .action:hover {
          background: #008d4c;
          color: #fff; }
        .tableWrap .tableFoot .actions .action::selection, .tableWrap .tableFoot .actions .action::-moz-selection {
          background: transparent; }
        .tableWrap .tableFoot .actions .action:focus {
          outline: none !important; }
      .tableWrap .tableFoot .actions .action:first-of-type {
        margin: 0 .5rem 0 0 !important; }
      .tableWrap .tableFoot .actions .add {
        transition: .3s ease;
        display: block;
        cursor: pointer;
        position: relative;
        background-color: #4CAF50;
        border: none;
        color: #fff;
        outline: none;
        box-shadow: none;
        padding: .5rem 1.5rem;
        text-decoration: none; }
        .tableWrap .tableFoot .actions .add .icon {
          font-size: 1.8rem;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-decoration: none;
          color: #fff; }
          .tableWrap .tableFoot .actions .add .icon::-moz-focus-inner {
            border: 0; }
        .tableWrap .tableFoot .actions .add.active {
          background: #555;
          color: #fff; }
        .tableWrap .tableFoot .actions .add:hover {
          background: #388E3C;
          color: #fff; }
        .tableWrap .tableFoot .actions .add::selection, .tableWrap .tableFoot .actions .add::-moz-selection {
          background: transparent; }
        .tableWrap .tableFoot .actions .add:focus {
          outline: none !important; }
      .tableWrap .tableFoot .actions .deleteAll {
        transition: .3s ease;
        display: block;
        cursor: pointer;
        position: relative;
        background-color: #F44336;
        border: none;
        color: #fff;
        outline: none;
        box-shadow: none;
        padding: .5rem 1.5rem;
        text-decoration: none; }
        .tableWrap .tableFoot .actions .deleteAll .icon {
          font-size: 1.8rem;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-decoration: none;
          color: #fff; }
          .tableWrap .tableFoot .actions .deleteAll .icon::-moz-focus-inner {
            border: 0; }
        .tableWrap .tableFoot .actions .deleteAll.active {
          background: #555;
          color: #fff; }
        .tableWrap .tableFoot .actions .deleteAll:hover {
          background: #D32F2F;
          color: #fff; }
        .tableWrap .tableFoot .actions .deleteAll::selection, .tableWrap .tableFoot .actions .deleteAll::-moz-selection {
          background: transparent; }
        .tableWrap .tableFoot .actions .deleteAll:focus {
          outline: none !important; }
    .tableWrap .tableFoot .pagination {
      float: right;
      margin: 0;
      border-radius: 0;
      padding: .5rem 1rem; }
      .tableWrap .tableFoot .pagination .action {
        transition: .3s ease;
        width: 24px;
        height: 24px;
        display: block;
        cursor: pointer;
        position: relative;
        background-color: #E0E0E0;
        color: #000;
        border-radius: 50%;
        text-decoration: none;
        display: inline-block;
        margin: 0 .5rem; }
        .tableWrap .tableFoot .pagination .action .icon {
          font-size: 1.8rem;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-decoration: none;
          color: #000; }
          .tableWrap .tableFoot .pagination .action .icon::-moz-focus-inner {
            border: 0; }
        .tableWrap .tableFoot .pagination .action.active {
          background: #555;
          color: #fff; }
        .tableWrap .tableFoot .pagination .action:hover {
          background: #BDBDBD; }
        .tableWrap .tableFoot .pagination .action::selection, .tableWrap .tableFoot .pagination .action::-moz-selection {
          background: transparent; }
        .tableWrap .tableFoot .pagination .action:focus {
          outline: none !important; }
        .tableWrap .tableFoot .pagination .action::before {
          font-size: 1.8rem;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-decoration: none;
          color: #000; }
          .tableWrap .tableFoot .pagination .action::before::-moz-focus-inner {
            border: 0; }

.fluid-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  overflow: auto;
  display: initial;
  min-width: 300px;
  min-height: 150px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: -1px 10px 20px -15px rgba(0, 0, 0, 0.75);
  border-radius: 0;
  background: #fff !important;
  border: .1rem solid #e7e7e7;
  border-top: 0.2rem solid #F44336;
  outline: none;
  z-index: 1202;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }
  .fluid-modal .modal-header {
    padding: .5rem;
    background: #F9FAFC;
    border-bottom: .1rem solid #e7e7e7;
    color: #000;
    position: relative; }
    .fluid-modal .modal-header .modal-title {
      margin: 0;
      line-height: inherit;
      display: inline-block;
      padding-top: .3rem; }
    .fluid-modal .modal-header .modal-actions {
      position: relative;
      -webkit-transform: translateY(20%);
      -moz-transform: translateY(20%);
      -ms-transform: translateY(20%);
      -o-transform: translateY(20%);
      transform: translateY(20%);
      float: right; }
      .fluid-modal .modal-header .modal-actions .action {
        border-radius: 50%;
        display: inline-block;
        width: 15px;
        height: 15px;
        transition: .3s ease;
        cursor: pointer;
        margin: 3px 2px 0 10px;
        float: left; }
      .fluid-modal .modal-header .modal-actions .close, .fluid-modal .modal-header .modal-actions .hide {
        display: block !important;
        background: #F44336;
        opacity: 1; }
        .fluid-modal .modal-header .modal-actions .close:hover, .fluid-modal .modal-header .modal-actions .hide:hover {
          background: #F44336; }
      .fluid-modal .modal-header .modal-actions .minimize {
        background: #2196F3; }
        .fluid-modal .modal-header .modal-actions .minimize:hover {
          background: #1976D2; }
      .fluid-modal .modal-header .modal-actions .maximize {
        background: #4CAF50; }
        .fluid-modal .modal-header .modal-actions .maximize:hover {
          background: #388E3C; }
  .fluid-modal .modal-content {
    padding: 1rem .5rem;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 0;
    font-size: 14px; }
    .fluid-modal .modal-content .text-center {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 1.3rem; }
    .fluid-modal .modal-content .promptValue {
      display: block;
      width: 100%;
      margin: 1rem 0;
      box-shadow: none;
      border-radius: 0;
      border: .1rem solid #ccc;
      padding: .5rem; }
    .fluid-modal .modal-content .promptSendButton {
      transition: .3s ease;
      display: block;
      cursor: pointer;
      position: relative;
      background-color: #00a65a;
      border: none;
      color: #fff;
      outline: none;
      box-shadow: none;
      padding: .5rem 1.5rem;
      text-decoration: none; }
      .fluid-modal .modal-content .promptSendButton .icon {
        font-size: 1.8rem;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-decoration: none;
        color: #fff; }
        .fluid-modal .modal-content .promptSendButton .icon::-moz-focus-inner {
          border: 0; }
      .fluid-modal .modal-content .promptSendButton.active {
        background: #555;
        color: #fff; }
      .fluid-modal .modal-content .promptSendButton:hover {
        background: #008d4c;
        color: #fff; }
      .fluid-modal .modal-content .promptSendButton::selection, .fluid-modal .modal-content .promptSendButton::-moz-selection {
        background: transparent; }
      .fluid-modal .modal-content .promptSendButton:focus {
        outline: none !important; }
  .fluid-modal *::selection {
    background: transparent;
    color: inherit; }

.modalAlert .promptSendButton {
  margin-top: 4rem; }

.modalCloseNoAnim {
  visibility: hidden;
  opacity: 0; }

.modal-dark {
  border: none; }
  .modal-dark .modal-header {
    background: #333;
    color: #f4f4f4;
    border-bottom-color: #333; }
  .modal-dark .modal-preview {
    background: #444; }

.modalFMGallery .modal-preview {
  position: relative;
  z-index: 2; }
  .modalFMGallery .modal-preview img {
    max-height: 600px;
    position: relative;
    z-index: 2; }
  .modalFMGallery .modal-preview:hover .prevImageBtn, .modalFMGallery .modal-preview:hover .nextImageBtn {
    opacity: 0.6; }
    .modalFMGallery .modal-preview:hover .prevImageBtn:hover, .modalFMGallery .modal-preview:hover .nextImageBtn:hover {
      opacity: 0.9; }
.modalFMGallery .prevImageBtn, .modalFMGallery .nextImageBtn {
  background: #333;
  opacity: 0;
  color: #f4f4f4;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  padding: 7px 14px;
  margin: 0 0 0 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transition: .3s ease;
  z-index: 3;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
.modalFMGallery .nextImageBtn {
  left: auto;
  right: 0;
  margin: 0 10px 0 0; }

.modalFMAudioPlayer .modal-preview {
  min-height: 120px;
  padding: 20px; }
.modalFMAudioPlayer .iconWrap {
  width: 100%;
  text-align: center;
  padding: 0 0 10px 0; }
  .modalFMAudioPlayer .iconWrap .mainIcon {
    font-size: 15px;
    color: #ccc;
    padding-right: 5px; }
  .modalFMAudioPlayer .iconWrap .trackName {
    color: #f4f4f4; }
.modalFMAudioPlayer .controlsBlock {
  width: 100%;
  text-align: center;
  padding: 5px 0 15px 0; }
  .modalFMAudioPlayer .controlsBlock .fa {
    display: inline-block;
    color: #f4f4f4;
    cursor: pointer;
    font-size: 20px;
    transition: .3s ease; }
    .modalFMAudioPlayer .controlsBlock .fa:hover {
      color: #ccc; }
  .modalFMAudioPlayer .controlsBlock .playPauseBtn {
    padding: 10px; }
.modalFMAudioPlayer .progressBarWrap {
  position: relative;
  padding: 0 10px;
  margin: 0 auto;
  height: 2px;
  background: #f4f4f4;
  display: block;
  width: 90%; }
  .modalFMAudioPlayer .progressBarWrap .progressBar {
    display: block;
    position: absolute;
    top: -10px;
    left: -5px;
    background: #ccc;
    width: 20px;
    height: 20px;
    border-radius: 50%; }

.navigation .navCaller {
  cursor: pointer;
  text-decoration: none;
  color: #fff; }

.backgroundView {
  width: 100%;
  height: 100%;
  background: #222;
  position: absolute; }

.fileManager .wrapBlock {
  border-radius: 0;
  overflow: hidden; }
.fileManager .header {
  border: none;
  padding: 1rem .5rem .5rem .5rem; }
  .fileManager .header .navigationBlock {
    float: left;
    display: block; }
    @media (max-width: 768px) {
      .fileManager .header .navigationBlock {
        width: 50%; } }
    .fileManager .header .navigationBlock .prevButton, .fileManager .header .navigationBlock .nextButton, .fileManager .header .navigationBlock .homeButton {
      transition: .3s ease;
      width: 24px;
      height: 24px;
      display: block;
      cursor: pointer;
      position: relative;
      background-color: #E0E0E0;
      color: #000;
      border-radius: 50%;
      text-decoration: none;
      background: #f2f2f2;
      display: inline-block;
      margin: 0 .5rem; }
      .fileManager .header .navigationBlock .prevButton .icon, .fileManager .header .navigationBlock .nextButton .icon, .fileManager .header .navigationBlock .homeButton .icon {
        font-size: 1.8rem;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-decoration: none;
        color: #000; }
        .fileManager .header .navigationBlock .prevButton .icon::-moz-focus-inner, .fileManager .header .navigationBlock .nextButton .icon::-moz-focus-inner, .fileManager .header .navigationBlock .homeButton .icon::-moz-focus-inner {
          border: 0; }
      .fileManager .header .navigationBlock .prevButton.active, .fileManager .header .navigationBlock .nextButton.active, .fileManager .header .navigationBlock .homeButton.active {
        background: #555;
        color: #fff; }
      .fileManager .header .navigationBlock .prevButton:hover, .fileManager .header .navigationBlock .nextButton:hover, .fileManager .header .navigationBlock .homeButton:hover {
        background: #BDBDBD; }
      .fileManager .header .navigationBlock .prevButton::selection, .fileManager .header .navigationBlock .prevButton::-moz-selection, .fileManager .header .navigationBlock .nextButton::selection, .fileManager .header .navigationBlock .nextButton::-moz-selection, .fileManager .header .navigationBlock .homeButton::selection, .fileManager .header .navigationBlock .homeButton::-moz-selection {
        background: transparent; }
      .fileManager .header .navigationBlock .prevButton:focus, .fileManager .header .navigationBlock .nextButton:focus, .fileManager .header .navigationBlock .homeButton:focus {
        outline: none !important; }
      .fileManager .header .navigationBlock .prevButton:hover, .fileManager .header .navigationBlock .nextButton:hover, .fileManager .header .navigationBlock .homeButton:hover {
        background: #dedede; }
    .fileManager .header .navigationBlock .homeButton .icon {
      font-size: 1.5rem; }
  .fileManager .header .breadcrumsBlock {
    display: inline-block;
    height: 24px;
    padding: 2px 1rem;
    float: left;
    cursor: default;
    background: #f7f7f7;
    min-width: 50%;
    margin-left: 10px; }
    .fileManager .header .breadcrumsBlock .breadcrumsElm {
      display: block;
      width: 100%;
      height: 24px; }
    @media (max-width: 768px) {
      .fileManager .header .breadcrumsBlock {
        display: none; } }
  .fileManager .header .buttonsBlock {
    float: right;
    text-align: right;
    padding: 0 1rem;
    display: block; }
    @media (max-width: 768px) {
      .fileManager .header .buttonsBlock {
        width: 50%; } }
    .fileManager .header .buttonsBlock .settingsButton, .fileManager .header .buttonsBlock .addFolderButton, .fileManager .header .buttonsBlock .pasteButton, .fileManager .header .buttonsBlock .fileControl {
      transition: .3s ease;
      width: 24px;
      height: 24px;
      display: block;
      cursor: pointer;
      position: relative;
      background-color: #E0E0E0;
      color: #000;
      border-radius: 50%;
      text-decoration: none;
      display: block;
      float: right;
      margin: 0 .5rem; }
      .fileManager .header .buttonsBlock .settingsButton .icon, .fileManager .header .buttonsBlock .addFolderButton .icon, .fileManager .header .buttonsBlock .pasteButton .icon, .fileManager .header .buttonsBlock .fileControl .icon {
        font-size: 1.8rem;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-decoration: none;
        color: #000; }
        .fileManager .header .buttonsBlock .settingsButton .icon::-moz-focus-inner, .fileManager .header .buttonsBlock .addFolderButton .icon::-moz-focus-inner, .fileManager .header .buttonsBlock .pasteButton .icon::-moz-focus-inner, .fileManager .header .buttonsBlock .fileControl .icon::-moz-focus-inner {
          border: 0; }
      .fileManager .header .buttonsBlock .settingsButton.active, .fileManager .header .buttonsBlock .addFolderButton.active, .fileManager .header .buttonsBlock .pasteButton.active, .fileManager .header .buttonsBlock .fileControl.active {
        background: #555;
        color: #fff; }
      .fileManager .header .buttonsBlock .settingsButton:hover, .fileManager .header .buttonsBlock .addFolderButton:hover, .fileManager .header .buttonsBlock .pasteButton:hover, .fileManager .header .buttonsBlock .fileControl:hover {
        background: #BDBDBD; }
      .fileManager .header .buttonsBlock .settingsButton::selection, .fileManager .header .buttonsBlock .settingsButton::-moz-selection, .fileManager .header .buttonsBlock .addFolderButton::selection, .fileManager .header .buttonsBlock .addFolderButton::-moz-selection, .fileManager .header .buttonsBlock .pasteButton::selection, .fileManager .header .buttonsBlock .pasteButton::-moz-selection, .fileManager .header .buttonsBlock .fileControl::selection, .fileManager .header .buttonsBlock .fileControl::-moz-selection {
        background: transparent; }
      .fileManager .header .buttonsBlock .settingsButton:focus, .fileManager .header .buttonsBlock .addFolderButton:focus, .fileManager .header .buttonsBlock .pasteButton:focus, .fileManager .header .buttonsBlock .fileControl:focus {
        outline: none !important; }
      .fileManager .header .buttonsBlock .settingsButton .icon, .fileManager .header .buttonsBlock .addFolderButton .icon, .fileManager .header .buttonsBlock .pasteButton .icon, .fileManager .header .buttonsBlock .fileControl .icon {
        font-size: 1.2rem; }
    .fileManager .header .buttonsBlock .settingsButton {
      background-color: #F44336; }
      .fileManager .header .buttonsBlock .settingsButton:hover {
        background-color: #D32F2F; }
      .fileManager .header .buttonsBlock .settingsButton .icon {
        color: #fff; }
    .fileManager .header .buttonsBlock .addFolderButton {
      background-color: #FFD600; }
      .fileManager .header .buttonsBlock .addFolderButton:hover {
        background-color: #FBC02D; }
      .fileManager .header .buttonsBlock .addFolderButton .icon {
        color: #000; }
    .fileManager .header .buttonsBlock .uploadForm {
      padding: 0;
      margin: 0 .5rem;
      display: block;
      position: relative;
      float: right; }
      .fileManager .header .buttonsBlock .uploadForm .fileControl {
        background: #4CAF50;
        width: auto;
        height: auto;
        margin: 2px 0 0 0;
        padding: .4rem .5rem; }
        .fileManager .header .buttonsBlock .uploadForm .fileControl:hover {
          background-color: #388E3C; }
        .fileManager .header .buttonsBlock .uploadForm .fileControl .icon {
          color: #fff; }
      .fileManager .header .buttonsBlock .uploadForm input[type="file"] {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        font-size: .1rem;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        width: 24px;
        height: 24px; }
    .fileManager .header .buttonsBlock .pasteButton {
      background: #3F51B5; }
      .fileManager .header .buttonsBlock .pasteButton:hover {
        background-color: #303F9F; }
      .fileManager .header .buttonsBlock .pasteButton .icon {
        color: #fff; }
.fileManager .columns {
  background: #fff;
  border: .1rem solid #ccc;
  border-left: none;
  border-right: none;
  width: 100%;
  min-height: 2rem; }
.fileManager .content {
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  transition: border .3s linear;
  border-top: .1rem solid #e7e7e7;
  padding: 0; }
  .fileManager .content .element {
    border-bottom: .1rem solid #f4f4f4;
    padding: .5rem 0;
    cursor: pointer; }
    .fileManager .content .element .elementThumbWrap {
      text-align: center;
      position: relative; }
      .fileManager .content .element .elementThumbWrap img {
        padding: 1rem;
        max-height: 100%;
        margin: 0 auto; }
        @media (max-width: 480px) {
          .fileManager .content .element .elementThumbWrap img {
            padding: 0 2rem 0 0;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%); } }
      .fileManager .content .element .elementThumbWrap i {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
    .fileManager .content .element .elementNameWrap {
      position: relative; }
      .fileManager .content .element .elementNameWrap span {
        position: absolute;
        top: 50%;
        word-break: break-word;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
        @media (max-width: 480px) {
          .fileManager .content .element .elementNameWrap span {
            padding-right: 1rem; } }
    .fileManager .content .element .elementSizeWrap span {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
    .fileManager .content .element.copy {
      border-left: .2rem solid #FF5722; }
    .fileManager .content .element.move {
      border-left: .2rem solid #009688; }
    .fileManager .content .element.row {
      margin: 0; }
    .fileManager .content .element.selected {
      background: #fafafa; }
    .fileManager .content .element *::selection {
      background: transparent;
      color: inherit; }
    .fileManager .content .element > div {
      height: 40px; }
      @media (max-width: 480px) {
        .fileManager .content .element > div {
          height: auto;
          min-height: 60px; } }
  .fileManager .content .emptyContent {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .fileManager .content .emptyContent .emptyIcon {
      font-size: 4rem;
      margin: 1rem; }
    .fileManager .content .emptyContent .emptyText {
      font-size: 3rem;
      font-weight: 300; }
  .fileManager .content::-webkit-scrollbar {
    width: 7px;
    margin-right: 5px; }
  .fileManager .content::-webkit-scrollbar-track {
    background: #fff; }
  .fileManager .content::-webkit-scrollbar-thumb {
    background: #e7e7e7; }
.fileManager.fileManagerInput .hideBtn {
  width: 24px;
  height: 24px; }
.fileManager.fileManagerInput .header {
  padding-right: 0; }
  .fileManager.fileManagerInput .header .navigationBlock {
    width: 50%; }
  .fileManager.fileManagerInput .header .breadcrumsBlock {
    display: none; }
  .fileManager.fileManagerInput .header .buttonsBlock {
    width: 50%; }

.fileManagerInputOpen {
  display: inline-block;
  margin-top: -15px; }

.gridView {
  position: relative; }
  .gridView tbody {
    transition: .3s ease;
    cursor: pointer; }
    .gridView tbody tr td::selection, .gridView tbody tr td *::selection {
      color: inherit;
      background: inherit; }
    .gridView tbody tr .actionsBtnWrap {
      text-align: center;
      padding: 8px 3px;
      width: 150px; }
      .gridView tbody tr .actionsBtnWrap .actionsBtn {
        width: 26px;
        height: 26px;
        line-height: 22px;
        text-align: center;
        display: inline-block;
        margin: 0 5px;
        border-radius: 50%;
        border: 2px solid #666;
        transition: .3s ease;
        background: #fff;
        color: #666; }
        .gridView tbody tr .actionsBtnWrap .actionsBtn:hover {
          background: #666;
          color: #fff; }
    .gridView tbody tr:hover {
      background: #f9f9f9 !important; }
  .gridView .action {
    visibility: hidden; }
  .gridView .customizeBtn {
    width: 26px;
    height: 26px;
    line-height: 22px;
    background: #fff;
    display: block;
    text-align: center;
    color: #666;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #666;
    transition: .3s ease;
    cursor: pointer; }
    .gridView .customizeBtn:hover {
      background: #666;
      color: #fff; }

ul[data-name="gridViewCustomize"] .checkbox-wrap label {
  font-weight: 400; }
ul[data-name="gridViewCustomize"] .checkbox-wrap .checkbox-box {
  margin: 0 5px 0 0; }
ul[data-name="gridViewCustomize"] .acceptButton {
  height: 30px;
  width: 100%;
  background: #00a65a;
  color: #fff;
  text-align: center;
  display: inline-block;
  line-height: 30px;
  cursor: pointer;
  transition: .3s ease; }
  ul[data-name="gridViewCustomize"] .acceptButton:hover {
    background: #009953; }

.dynamicView {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1200;
  background: url("http://cdn.pawel-mrowiec.pl/fluid-elements/images/editor-bg.png"); }
  .dynamicView .progressBar {
    width: 100%; }
    .dynamicView .progressBar .percentageBlock {
      background: #00C853;
      width: 0;
      height: 5px;
      transition: .3s ease;
      box-shadow: 0 0.1rem 0.1rem rgba(50, 50, 50, 0.75); }
  .dynamicView .section {
    height: calc(100% - 105px);
    padding: 3rem; }
  .dynamicView .pagination {
    height: 100px;
    width: 100%;
    display: block;
    text-align: center;
    padding: 0 3rem; }
    .dynamicView .pagination .child {
      border: .2rem solid #fff;
      border-radius: 50%;
      box-shadow: 0 0.1rem 0.1rem rgba(50, 50, 50, 0.75);
      width: 40px;
      height: 40px;
      background: #fff;
      color: #555;
      display: inline-block;
      margin: 0 .5rem;
      font-size: 2rem;
      text-align: center;
      line-height: 36px;
      cursor: pointer;
      transition: .3s ease; }
      .dynamicView .pagination .child:hover {
        background: #00C853;
        border: 0.2rem solid #00C853;
        color: #fff; }
      .dynamicView .pagination .child:active {
        background: #43A047;
        border: 0.2rem solid #43A047;
        color: #fff; }
      .dynamicView .pagination .child.active {
        border: 0.2rem solid #43A047; }
    .dynamicView .pagination .prevButton, .dynamicView .pagination .nextButton {
      background: #00C853;
      box-shadow: 0 0.1rem 0.1rem rgba(50, 50, 50, 0.75);
      color: #fff;
      font-size: 1.7rem;
      padding: .7rem 2rem;
      cursor: pointer;
      transition: .3s ease;
      float: left; }
      .dynamicView .pagination .prevButton:hover, .dynamicView .pagination .nextButton:hover {
        background: #00C853;
        color: #fff; }
      .dynamicView .pagination .prevButton:active, .dynamicView .pagination .nextButton:active {
        background: #43A047;
        color: #fff; }
    .dynamicView .pagination .nextButton {
      float: right; }
    .dynamicView .pagination *::selection {
      background: transparent; }

@media (max-width: 480px) {
  .dynamicView {
    overflow-y: auto; } }
.tabbedView .controls {
  display: block;
  width: 100%;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 0;
  padding: 0 0 0 10px; }
  .tabbedView .controls li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    border-bottom: 2px solid #fff;
    transition: .3s ease; }
    .tabbedView .controls li > a {
      display: inline-block;
      padding: 5px 10px 3px 10px; }
    .tabbedView .controls li > p, .tabbedView .controls li > span {
      margin: 0;
      display: inline-block;
      padding: 5px 10px 3px 10px; }
    .tabbedView .controls li:hover {
      border-color: #d2d6de; }
    .tabbedView .controls li.active {
      border-color: #3c8dbc; }
    .tabbedView .controls li::selection, .tabbedView .controls li::-moz-selection {
      background: transparent;
      color: inherit; }
  .tabbedView .controls .controlBtn {
    text-decoration: none;
    color: #222; }
    .tabbedView .controls .controlBtn.controlBtn-success {
      color: #00a65a; }
    .tabbedView .controls .controlBtn.controlBtn-warning {
      color: #f0ad4e; }
    .tabbedView .controls .controlBtn.controlBtn-error {
      color: #d9534f; }
    .tabbedView .controls .controlBtn.controlBtn-info {
      color: #337ab7; }
.tabbedView .sections {
  overflow-x: auto; }
  .tabbedView .sections section {
    display: block;
    width: 100%;
    padding: 10px; }
    .tabbedView .sections section .box-header {
      padding: 0 0 10px 0; }
    .tabbedView .sections section .box-footer {
      padding: 10px 0; }

.editor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1199;
  color: #fff; }
  .editor .startPage {
    font-family: "Raleway", serif;
    font-size: 3rem;
    font-weight: 300; }
    .editor .startPage .text {
      text-align: center;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
    @media (max-width: 480px) {
      .editor .startPage .text {
        font-size: 1.5rem;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%); } }
  .editor .informationPage {
    padding: 0; }
    .editor .informationPage .text {
      font-size: 1.7rem;
      text-align: center;
      margin: 2rem 0; }
    .editor .informationPage .info {
      background: #4CAF50;
      box-shadow: 0 0.1rem 0.1rem rgba(50, 50, 50, 0.75); }
      .editor .informationPage .info label {
        margin: 0;
        height: 20px;
        line-height: 20px; }
      .editor .informationPage .info input[type="checkbox"] {
        display: none; }
      .editor .informationPage .info .checkbox-control {
        display: inline-block;
        margin: 0 1rem 0 0;
        float: left; }
      .editor .informationPage .info .checkbox-control[data-checked="true"] {
        background: #555; }
    .editor .informationPage .info2 {
      background: #444444;
      box-shadow: 0 0.1rem 0.1rem rgba(50, 50, 50, 0.75); }
    .editor .informationPage .contentRow {
      margin-top: 15rem; }
    @media (max-width: 1200px) {
      .editor .informationPage .contentRow {
        margin-top: 5rem; }
        .editor .informationPage .contentRow .info2 {
          margin-top: 2rem; } }
  .editor .creatorPage .container {
    height: 100%; }
  .editor .creatorPage #templateWindow {
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 0.1rem 0.1rem rgba(50, 50, 50, 0.75);
    border-top: .3rem solid #555;
    position: relative;
    overflow: hidden; }
    .editor .creatorPage #templateWindow *[data-pattern="text"]::before {
      content: "\f040";
      font-size: 1.2rem;
      color: #222;
      background: #fff;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      display: inline-block;
      text-align: center;
      line-height: 20px;
      margin: 0 .5rem 0 0;
      position: absolute;
      top: 0;
      right: 2.5rem;
      -webkit-animation: pulse 5s ease infinite;
      -moz-animation: pulse 5s ease infinite;
      animation: pulse 3s ease infinite;
      cursor: pointer; }
    .editor .creatorPage #templateWindow *[data-pattern="text"], .editor .creatorPage #templateWindow *[data-pattern="image"] {
      cursor: pointer;
      position: relative; }

#editorPanel {
  border: none !important;
  background: #4d4d4d;
  clear: both;
  height: 300px;
  overflow-y: hidden; }
  #editorPanel .buttonOk {
    background: #00C853;
    box-shadow: 0 0.1rem 0.1rem rgba(50, 50, 50, 0.75);
    color: #fff;
    font-size: 1.5rem;
    padding: .7rem 2rem;
    cursor: pointer;
    transition: .3s ease;
    display: block;
    margin-top: 1.5rem;
    float: left;
    font-family: "Source Sans Pro", serif; }
    #editorPanel .buttonOk:hover {
      background: #00C853;
      color: #fff; }
    #editorPanel .buttonOk:active {
      background: #43A047;
      color: #fff; }
  #editorPanel .hideBtn {
    color: #fff;
    border-color: #fff; }
    #editorPanel .hideBtn:hover {
      background: #00C853 !important;
      border-color: #00C853 !important; }

.imageChoser {
  background: #4d4d4d;
  border-right: none !important; }
  .imageChoser .hideBtn {
    color: #4d4d4d;
    background: #fff;
    border: .1rem solid #fff;
    width: 24px;
    height: 24px; }
    .imageChoser .hideBtn:hover {
      color: #fff;
      background: #F44336;
      border: .1rem solid #F44336; }
  .imageChoser .title {
    color: #fff; }
  .imageChoser .header {
    padding-right: 0; }
    .imageChoser .header .navigationBlock {
      width: 50%; }
    .imageChoser .header .breadcrumsBlock {
      display: none; }
    .imageChoser .header .buttonsBlock {
      width: 50%; }
  .imageChoser .content {
    color: #fff;
    background: #4d4d4d; }

/*# sourceMappingURL=app.css.map */
