@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");
@import "../_fluid-elements/mixins";
@import "_common", "_site", "_settings", "_user", "_language";

html, body{
  width: 100%;
  height: 100%;
}

.tabbedView{
  .controls .create-btn{
    color: #00a65a;
    text-decoration: none;
  }
}

.loadScreen{
  background: #ecf0f5 !important;

  .loadIcon {
    color: #d2d6de;
  }
}

.wrapper.auth{
  .header{
    background: #fff;
    color: #444;
    border-bottom: 1px solid #d2d6de;
    padding: 14px;

    .title{
      font-size: 16px;
    }
  }
  .main-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}