@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");
.btn {
  border-radius: 0 !important;
  box-shadow: -1px 10px 10px -12px rgba(0, 0, 0, 0.75) !important; }

.content-header .back {
  width: 25px;
  height: 25px;
  line-height: 20px;
  font-size: 20px;
  background: #fff;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  color: #666;
  border-radius: 50%;
  border: 2px solid #666;
  transition: .3s ease; }
  .content-header .back:hover {
    background: #666;
    color: #fff;
    border-color: #666; }
.content-header .title {
  display: inline-block;
  margin: 0;
  font-size: 20px;
  color: #444; }

form .form-message {
  display: block;
  width: 100%;
  background: #fff;
  color: #111;
  padding: .5rem 1rem;
  font-size: 1.4rem; }
  form .form-message.form-message-warning {
    background: #FF5722;
    color: #fff; }
  form .form-message.form-message-success {
    background: #4CAF50;
    color: #fff; }
  form .form-message.form-message-info {
    background: #2196F3;
    color: #fff; }
  form .form-message.form-message-primary {
    background: #00B8D4;
    color: #fff; }
  form .form-message .text-big {
    font-size: 15px; }

.form-group input[type="checkbox"], .checkbox-wrap input[type="checkbox"] {
  display: none; }
  .form-group input[type="checkbox"] + .checkbox-box, .checkbox-wrap input[type="checkbox"] + .checkbox-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 0.1rem solid #d2d6de;
    transition: .3s ease;
    cursor: pointer;
    margin: 0 5px;
    position: relative; }
  .form-group input[type="checkbox"] + .checkbox-box::after, .checkbox-wrap input[type="checkbox"] + .checkbox-box::after {
    content: '';
    display: none; }
  .form-group input[type="checkbox"]:checked + .checkbox-box, .checkbox-wrap input[type="checkbox"]:checked + .checkbox-box {
    background: #f4f4f4; }
  .form-group input[type="checkbox"]:checked + .checkbox-box::after, .checkbox-wrap input[type="checkbox"]:checked + .checkbox-box::after {
    content: '';
    position: absolute;
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #555;
    border-width: 0 2px 2px 0;
    display: block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
.form-group .checkbox-label, .checkbox-wrap .checkbox-label {
  vertical-align: super;
  display: inline-block;
  padding-right: 5px; }
.form-group::selection, .form-group *::selection, .checkbox-wrap::selection, .checkbox-wrap *::selection {
  background: inherit;
  color: inherit; }

.radio-list-wrap .control-label {
  display: inline-block;
  padding-right: 5px; }
.radio-list-wrap .radio-list {
  display: inline-block; }
.radio-list-wrap input[type="radio"] {
  display: none; }
  .radio-list-wrap input[type="radio"] + .radio-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 0.1rem solid #d2d6de;
    border-radius: 50%;
    transition: .3s ease;
    cursor: pointer;
    margin: 0 5px;
    position: relative; }
  .radio-list-wrap input[type="radio"] + .radio-box::after {
    content: '';
    display: none; }
  .radio-list-wrap input[type="radio"]:checked + .radio-box {
    background: #f4f4f4; }
  .radio-list-wrap input[type="radio"]:checked + .radio-box::after {
    content: '';
    position: absolute;
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #555;
    border-width: 0 2px 2px 0;
    display: block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

.main-footer {
  padding: 3px 15px; }

.lang-menu .list {
  border-top: none; }
  .lang-menu .list li > a:hover {
    background: #f9f9f9;
    color: #222; }

.settings {
  padding: .5rem 0 !important; }
  .settings #settings-form button[type="submit"] {
    margin-left: 10px; }

.img-avatar {
  max-width: 35px; }

.language-manage #languageForm {
  padding: 0 1.5rem; }
  .language-manage #languageForm #updateBtnWrap {
    padding: 2rem; }
  .language-manage #languageForm section.category {
    border-bottom: 2px solid #d2d6de;
    padding-bottom: 1rem; }
    .language-manage #languageForm section.category:last-of-type {
      border: none; }
.language-manage .noData p {
  padding: 1rem;
  margin: 0; }

html, body {
  width: 100%;
  height: 100%; }

.tabbedView .controls .create-btn {
  color: #00a65a;
  text-decoration: none; }

.loadScreen {
  background: #ecf0f5 !important; }
  .loadScreen .loadIcon {
    color: #d2d6de; }

.wrapper.auth .header {
  background: #fff;
  color: #444;
  border-bottom: 1px solid #d2d6de;
  padding: 14px; }
  .wrapper.auth .header .title {
    font-size: 16px; }
.wrapper.auth .main-footer {
  width: 100%;
  position: absolute;
  bottom: 0; }

/*# sourceMappingURL=app.css.map */
